
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Dobrodelen.si</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="new-project.html"> Nov projekt</a>
                    </li>
                    <li>
                        <a href="all-projects.html">Vsi projekti</a>
                    </li>
                    <li>
                        <a href="all-news.html">Novice</a>
                    </li>
                    <li>
                        <a href="contact.html">O nas</a>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-user"></span>
                            Janko Banko<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="my-projects.html">Moji projekti</a>
                            </li>
                            <li>
                                <a href="my-donations.html">Moji prispevki</a>
                            </li>
                            <li>
                                <a href="settings.html">Nastavitve</a>
                            </li>
                            <li>
                                <a href="log-in.html">
                                    <span class="glyphicon glyphicon-log-out"></span>
                                    Odjavi se</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><%= projekt[0].projectName %>
                </h1>

            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <!-- Leva stran -->
        <div class="row">

            <div class="col-md-8">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img class="img-responsive" src="http://1.bp.blogspot.com/-LGbJcW4EdtU/TsseEFoTI5I/AAAAAAAAWw8/QXMSbMaS9tM/s1600/wilson11-0044.jpg" alt="http://www.xn--voilnice-lbb35f.com/img/cms/Botrstvo.jpg">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="http://urbanmoms.ca/wp-content/uploads/2015/05/kids-playing-with-toys.jpg" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="http://redsarmy.com/wp-content/uploads/2014/08/rr2k15-750x500.jpg" alt="">
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>

                <br>

                <p>

                  <%= projekt[0].description %>

                </p>

            </div>


            <!-- desna stran -->
            <div class="col-md-4">

                <!-- Kratek opis, cca. 120 znakov -->
                <p class="lead"><%= projekt[0].shortDescription %></p>


                <h1> <b><%= projekt[0].collected %>€ </b> </h1> <p>od </p> <%= projekt[0].goal %>€

                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70"
                         aria-valuemin="0" aria-valuemax="100" style="width:<%= projekt[0].collected/projekt[0].goal*100 %>%" >
                        <span class="sr-only">75% Complete</span>
                    </div>
                </div>
                <br>
                <button type="button" class="btn btn-default btn-xl">Prispevaj</button>

                <br>
                <br>


                <a class="btn btn-block btn-social btn-google">
                    <span class="fa fa-google"></span> Share on Google+
                </a>
                <a class="btn btn-block btn-social btn-facebook">
                    <span class="fa fa-facebook"></span> Share on Facebook
                </a>
                <a class="btn btn-block btn-social btn-twitter">
                    <span class="fa fa-twitter"></span> Share on Twitter
                </a>

                <br>


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i> Zadnji prispevki</h4>
                    </div>
                    <div class="panel-body">
                        <p>Tukaj so prikazani vsi tisti, ki so darovali. </p>
                        <a href="#" class="btn btn-default">Poglej vse</a>
                    </div>
                </div>

            </div>

        </div>
        <!-- /.row -->



        <!-- Komentarji in Related projects -->
        <div class="row">

            <br>
            <br>

            <div class="col-lg-12">

                <ul id="myTab" class="nav nav-tabs nav-justified">
                    <li class="active"><a href="#service-one" data-toggle="tab"><i class="glyphicon glyphicon-comment"></i> Komentarji</a>
                    </li>
                    <li class=""><a href="#service-two" data-toggle="tab"><i class="glyphicon glyphicon-equalizer"></i> Podobni projekti</a>
                    </li>
                </ul>

                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="service-one">

                        <!-- Comments Form -->
                        <div class="well">
                            <h4>Dodaj komentar:</h4>
                            <form role="form">
                                <div class="form-group">
                                    <textarea class="form-control" rows="4"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Dodaj</button>
                            </form>
                        </div>

                        <hr>

                        <!-- Posted Comments -->

                        <!-- Comment -->
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="http://33.media.tumblr.com/avatar_1fc3748ff0dd_64.png" alt="">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Gregor Hiša
                                    <small>19. november 2015, 22:02</small>
                                </h4>
                                Super akcija s super namenom, take akcije z veseljem podprem. Hvala vsem udeleženim za njihov trud in upam, da se vam uspe čim bolj medijsko izpostaviti in posledično dobiti
                                čim več sredstev. Pohvalil bi tudi tole spletno stran, pregledna, preprosta in z lepim namenom - le tako naprej!
                            </div>
                        </div>

                        <hr>

                        <!-- Comment -->
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="http://cdn.akamai.steamstatic.com/steamcommunity/public/images/avatars/14/1432890adc72eb398b6c5bd73cb2c9d6e2f8cef5_medium.jpg" alt="">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Jon Sneg
                                    <small>20. november 2015, 16:32</small>
                                </h4>
                                Všeč mi je, da stran sledi sodobnim trendom spleta in drugih aplikacij - minimalističen izgled in pregledna vsebina, z zelo malo kiča. Upam, da se bo kmalu pojavilo veliko
                                projektov, posebej za tiste, ki pomoč res nujno potrebujejo in da bodo (bomo) dobri ljudje lahko pomagali.
                            </div>
                        </div>

                        <hr>


                        <!-- Nested Comment -->
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="http://31.media.tumblr.com/avatar_e7371cca0d7d_64.png" alt="">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Ingrid Divjak
                                    <small>20. november 2015, 16:38</small>
                                </h4>
                                jon, se ne bi mogla bolj strinjat. Na svetovni ravni je vzpostavljenih že ogromno podobnih zadev, v Sloveniji pa imamo sicer veliko dobrodelnih ljudi, a je vse
                                organizirano tako razdrobljeno, da se težko znajdeš..takale baza vseh dobr. projektov nam bo prišla še kako prav. Vsaj vedel boš, kam se obrnit, če želiš pomagat.
                            </div>
                        </div>
                        <!-- End Nested Comment -->

                        <hr>

                        <!-- Nested Comment -->
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="http://33.media.tumblr.com/avatar_65ecbda148ab_64.png" alt="">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Oliiz Dajica
                                    <small>20. november 2015, 16:38</small>
                                </h4>
                                Jon, tudi sam sem vesel, da je nastala tale spletna stran in vse pohvale vsem udeleženim, samo moram priznati, da me skrbijo možne prevare. Hitro se lahko
                                dobrota poplača z nožem v hrbet...
                            </div>
                        </div>
                        <!-- End Nested Comment -->



                    </div>
                    <div class="tab-pane fade" id="service-two">

                        <!-- Related Projects Row -->
                        <div class="row">

                           <br>
                            <br>

                            <div class="col-sm-3 col-xs-6">
                                <a href="#">
                                    <img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
                                </a>
                            </div>

                            <div class="col-sm-3 col-xs-6">
                                <a href="#">
                                    <img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
                                </a>
                            </div>

                            <div class="col-sm-3 col-xs-6">
                                <a href="#">
                                    <img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
                                </a>
                            </div>

                            <div class="col-sm-3 col-xs-6">
                                <a href="#">
                                    <img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
                                </a>
                            </div>

                        </div>
                        <!-- /.row -->

                    </div>

                </div>

            </div>
        </div>



        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Dobrodelen.si 2015</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->
